
<div>
    <button class="btn btn-info" *ngIf="isAdmin"  (click)="AddBook()">Create</button>
</div>
<div class="filters">
    <label for="price">Max Price:</label>
    <input id="price" type="number" [(ngModel)]="filterPrice" (input)="applyFilters()">
  
    <label for="authorName">Author Name:</label>
    <input id="authorName" type="text" [(ngModel)]="filterAuthorName" (input)="applyFilters()">
  </div>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>BookId</th>
            <th>BookName</th>
            <th>AuthorName</th>
            <th>Price</th>
            <th>PublishedYear</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of filteredBooks">
            <td>{{book.bookId}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.authName}}</td>
            <td>{{book.price}}</td>
            <td>{{book.publishedYear}}</td>
            <td><button class="btn btn-info" *ngIf="isAdmin || isUser"  (click)="BookDetails(book.bookId!)">Details</button></td>
            <td><button class="btn btn-info" *ngIf="isUser"  (click)="addToCart(book)">AddtoCart</button></td>
            <td><button class="btn btn-secondary" *ngIf="isAdmin"  (click)="updateBook(book.bookId!)">Update</button></td>
            <button class="btn btn-danger" *ngIf="isAdmin"  (click)="deletebok(book.bookId!)">Delete</button>
        </tr>
        <a routerLink="/cart" routerLinkActive="active">Go to Cart</a>
    </tbody>
</table>
